<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="memberConnectionString" connectionString="Data Source=LAPTOP-DSTDB7EB\MYHOME;Initial Catalog=member;Persist Security Info=True;User ID=sa;Password=880919"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
